.neutral {background: linear-gradient(to bottom, #d0d0d0 0%, #f3f3f3 20%);}

%dark-background {
  input {background: #444; z-index: 100;}
  color: #eee;
  .poison {background-color: greenyellow; }
  &.player .player_name,
  .player_body-aux:before,
  .player_log:before,
  .edh_damage:before { background: rgba(0,0,0,.1); }
  .config-on &.player .player_name { color: white; }
}

%has-mana {
  .mana.large {
    display: block;
    background-position: 66.6% 33.3%;
    opacity: .14;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
}


.black {
  @extend %dark-background;
  @extend %has-mana;
  background: linear-gradient(to bottom, black 0%, #333339 70%);

  .mana.large { background-position: 66.6% 33.3%;}
}

.blue {
  background: linear-gradient(to bottom, #89beff 0%, #005fa8 100%);

  @extend %has-mana;
  .mana.large {
    background-position: 55.5% 33.3%;
    mix-blend-mode: overlay;
  }
}
.green {
  background: linear-gradient(to bottom, #c9de96 0%, #8ab66b 44%, #398235 100%);
  @extend %has-mana;
  .mana.large {
    background-position: 88.8% 33.3%;
    mix-blend-mode: overlay;
  }
}
.red {
  background: linear-gradient(to bottom, #ffaaaa 0%, red 100%);
  @extend %has-mana;
  .mana.large {
    background-position: 77.7% 33.3%;
    mix-blend-mode: overlay;
  }
}
.white {
  background: white;
  @extend %has-mana;
  .mana.large {
    background-position: 44.4% 33.3%;
    mix-blend-mode: darken;
    opacity: .05;
  }
}
.colorless {
  background: linear-gradient(to bottom, #eeeeee 0%, #bbbbbb 100%);
  @extend %has-mana;
  .mana.large {
    background-position: 11.1% 33.3%;
    mix-blend-mode: overlay;
    opacity: 1;
  }
}
