
.edh-on .edhDmgToggle,
.config-on .player-config {
  background: white;
}

.game-active #welcome {
  display: none;
}

.game-active header nav {
  display: block;
}

.game-active .controls-toggle h2 {
  visibility: hidden;
}

.controls-open.game-active header {
  max-height: 7rem;
  max-width: 30rem;
}

.controls-open.game-active header > div {
  max-width: 40rem;
  max-height: 6rem;
  background: rgba(235,235,235,.9);
  border-left: 1px solid rgba(0,0,0,.2);
  border-top: 1px solid rgba(0,0,0,.2);
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.controls-open.game-active header.open {
  max-height: 28rem;
  max-width: 70rem;
  @include breakpoint(lowheight) {
    max-height: calc(170px + 2rem);
    max-width: 100%;
  }
  > div {
    max-height: 34rem;
    max-width: 70rem;
    @include breakpoint(lowheight) {
      max-height: 170px;
      max-width: auto;
    }
  }
  .game-settings {background: white;}
  nav button {margin: 0 1rem;}
  #game-settings {opacity: 1;}
}

.game-active nav {
  margin-bottom: 2rem;
  display: none;
}

.game-active.controls-open nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 50rem;
  margin: 0 auto;
}

.game-active header {
  position: fixed;
  bottom: 1rem;
  display: inline;
  right: 0;
  padding-left: 1rem;
  padding-top: 1rem;
  overflow:hidden;
  max-height: 3.1rem;
  max-width: 3.3rem;
  height: 100vh;
  z-index: 9999;
  transition: max-height 300ms ease-out, max-width 300ms ease-out;

  #game-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 200ms linear;
    div {
      margin: .5rem auto;
    }

    @include breakpoint(lowheight) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .controls-toggle {
    top: -1rem;
    left: -1rem;
    border-radius: 2rem;
    height: 3rem;
    width: 3rem;
    padding: .25rem;
    position:absolute;
    background: rgba(235,235,235,.9);
    border: 1px solid rgba(0,0,0,.2);
    .controls-open & {
      background: white;
    }
    &:hover:after {
      color: black;
    }
  }

  p {margin: 0 2rem;}
  input {margin: 0 1rem 0 0;}
  button {
    margin: 0 .5rem;
    line-height: 1;
    height: 32px;
  }
}

.game-active header > div {
  min-width: 3rem;
  min-height: 3rem;
  position: relative;
  padding: 1.6rem;
  height: 100%;
  max-width: 3rem;
  max-height: 3rem;
  bottom: 1px solid rgba(0,0,0,.2);
  border-radius: 4px 0 4px 4px;
  transition: background-color 200ms linear, max-height 300ms ease-out, max-width 300ms ease-out;
}
