@mixin backboard_title {
  border-bottom: 1px solid rgba(255,255,255,.4);
  text-transform: uppercase;
  font-size: 70%;
  background: rgba(255,255,255,.1);
  padding: .3rem;
  display: block;
  top: -3rem;
}

$transparent_background: rgba(210,210,210,.5);
$super_transparent_background: rgba(255,255,255,.1);

.pconfig-item {
  opacity: 0;
  transition: max-height 300ms linear, opacity 300ms linear;
  overflow: hidden;
}

.config-off .pconfig-item {
  pointer-events: none;
  max-height: 0;
}

.config-on .pconfig-item {
  opacity: 1;
  max-height: 6rem;
}

#players {
  display: flex;
  margin: 0 auto;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 100vh;
  overflow-y: hidden;
}

.player {
  padding-top: .4rem;
  position: relative;
  height: 100vh;
  min-width: 26rem;
  width: calc(100vw * (1/5));
  overflow: hidden;
  @include breakpoint(large) {
    min-width: 30rem;
  }

  & > .mana {
    height: calc(20vw + 20rem);
    width: calc(20vw + 20rem);
    position: absolute;
    top: calc(30vh);
    pointer-events: none;
    display: none;
  }

  .pcount-1 & {
    width: 100vw;
  }
  .pcount-2 & {
    width: 50vw;
  }
  .pcount-3 & {
    width: calc(100vw * (1/3))
  }
  .pcount-4 & {
    width: calc(100vw * (1/4))
  }

  .player + & {
    border-left: solid 1px rgba(155,155,155,.7);
  }

  h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: .4rem;
    @include breakpoint(large) {
      font-size: 6rem;
    }
  }

  .player_info {
    // max-width: 40rem;
    margin: 0 auto;
    width: 100%;
    max-width: 54rem;
    position: relative;
    display: grid;
    height: calc(100vh);
    grid-template-rows: auto auto auto auto 1fr;

    label {
      visibility: hidden;
      position: absolute;
    }

  }

  .player_name {
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 30%, $super_transparent_background 100%);
    font-weight: bold;
    padding: .1rem 0 .2rem;
    border-top: 0;
    .config-on & {
      cursor: pointer;
      pointer-events: all;
      background: white;
      color: black;
    }
    @include breakpoint(large) {
      font-size: 3rem;
      //padding: 1rem 0 .7rem;
    }
  }

  .player_body {
    width: 100%;
    justify-content: center;
    display: flex;
    overflow-y: auto;
    margin: 0 auto;
    padding: 1rem 0;
    border-top: 1px solid rgba(0,0,0,.1);
  }

  .player_body-aux {
    width: calc(50% - 2rem);
    max-width: 25rem;
    margin-right: 1rem;
    &:before {
      content: "poison";
      @include backboard_title;
      margin-bottom: 1rem;
    }
  }

  .remove_player {
    position: absolute;
    top: 6rem;
    right: 1rem;
    background-color: white;
  }

  .bg-selector {
    position: absolute;
    top: 6rem;
    left: 1rem;
    color: black;
  }

  .background-pane {
    position: relative;
    padding-top: .5rem;
    border: solid 1px rgba(255,255,255,.4);
  }

  .log_bg {
    background: $super_transparent_background;
    border-bottom: 1px solid rgba(0,0,0,.15);
    & p:first-child {
      padding-top: 1rem;
    }
    & p:last-child {
      padding-bottom: 1rem;
    }
  }

  .player_log {
    width: calc(50% - 2rem);
    max-width: 25rem;
    margin-left: 1rem;
    p {
      font-size: 1.3rem;
      padding-bottom: .3rem;
      margin-bottom: 0;
    }
    &:before {
      content: "history";
      @include backboard_title;
    }
  }

  button {
    font-size: 1.6rem;
    line-height: 1;
    background: $transparent_background;
    padding: 0;
    min-width: 3rem;
    max-width: 5rem;
    width: 100%;
    min-height: 2rem;
    margin-bottom: 0;
    @include breakpoint(large) {
      padding: .1rem 1.4rem .25rem;
    }
  }

  .life_buttons {
    display: flex;
    width: 100%;
    max-width: 54rem;
    margin: 0 auto;
    padding: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,.4);
    button {
      font-size: 2rem;
      width: 23%;
      max-width: 7rem;
      font-weight: bold;
      border: solid 2px rgba(255,255,255,.7);
      span {
        font-size: 120%;
      }
      &:nth-of-type(1),
      &:nth-of-type(2) {
        border: solid 1px rgba(0,0,0,.5);
      }
    }
  }

  input {
    width: 100%;
    z-index: 100;
    text-align: center;
    font-size: 3rem;
    letter-spacing: .1rem;
    padding: .3rem;
    margin: 0 0 .2rem;
    justify-content: space-between;
    border: solid 1px transparent;
    &:focus {
      border: dotted 1px grey;
    }
  }
}

.poison_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.poison_count {
  display: inline-block;
  min-width: 3em;
  padding: 0 .5em;
  white-space: nowrap;
  .poison {
    position: relative;
    left: .35em;
    top: .3em;
  }
}

.edh_damage {
  transition: max-height 200ms ease-out;
  max-height: 0;
  overflow: hidden;
  position: relative;
  margin-top: 2rem;
  &:before {
    content: "commanders";
    @include backboard_title;
  }
}
.edh-on .edh_damage {
  max-height: calc(100vh - 10rem);
  border-bottom: 1px solid rgba(0,0,0,.15);
}

.edh_player {
  border-top: 1px solid rgba(255,255,255,.2);
  background: rgba(255,255,255,.1);
  padding: 1rem .5rem;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .edh_player-name {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .edh_player-dmg {
    max-width: 7rem;
    @include breakpoint(medium) {
      max-width: 9rem;
    }
    button {
      padding: .5rem;
      letter-spacing: 0;
      line-height: 1;
      height: auto;
      font-size: 1.25rem;
      margin-bottom: 0;
      display: inline;
      width: auto;
    }
  }
  .edh_player-dmg-count {
    display: inline-block;
    padding: 0 .75rem;
    line-height: 1;
    font-size: 1.55rem;
    font-weight: bold;
  }
}
