@import url(vendor/normalize.css);
@import url(vendor/skeleton.css);
@import url(vendor/mana.css);
@import url(vendor/fonts.css);
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 56%; }
  @media (min-width: 500px) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 1300px) {
    html {
      font-size: 70%; } }

body {
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #f0f0f0; }
  body h1 {
    font-size: 2.6rem; }
  body h2 {
    font-size: 2rem; }
  body h3, body h4, body h5, body h6, body p {
    font-size: 1rem; }

* {
  box-sizing: border-box; }

button {
  padding: .2em 1em;
  z-index: 100;
  color: black; }

.app-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  overflow-y: hidden; }

.pages {
  position: relative; }

.app-controls {
  z-index: 100;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #eee; }

.edh-on .edhDmgToggle,
.config-on .player-config {
  background: white; }

header {
  position: fixed;
  bottom: 0;
  display: inline;
  right: 0;
  padding-left: 1rem;
  padding-top: 1rem;
  overflow: hidden;
  max-height: 3.1rem;
  max-width: 3.3rem;
  height: 100vh;
  z-index: 9999;
  transition: max-height 300ms ease-out, max-width 300ms ease-out; }
  header > div {
    min-width: 3rem;
    min-height: 3rem;
    position: relative;
    padding: 1.6rem;
    height: 100%;
    max-width: 3rem;
    max-height: 3rem;
    bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px 0 4px 4px;
    transition: background-color 200ms linear, max-height 300ms ease-out, max-width 300ms ease-out; }
  .controls-open header {
    max-height: 12rem;
    max-width: 17rem; }
  .controls-open header > div {
    max-width: 40rem;
    max-height: 11rem;
    background: rgba(235, 235, 235, 0.9);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .controls-open header.open {
    max-height: 28rem;
    max-width: 70rem; }
    .controls-open header.open > div {
      max-height: 27rem;
      max-width: 70rem; }
    .controls-open header.open .game-settings {
      background: white; }
    .controls-open header.open nav button {
      margin: 0 1rem; }
    .controls-open header.open #game-settings {
      opacity: 1; }
  header nav {
    margin-bottom: 2rem;
    display: none; }
    .controls-open header nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 50rem;
      margin: 0 auto; }
  header #game-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 200ms linear; }
    header #game-settings div {
      margin: 1rem 0; }
  header .controls-toggle {
    top: -1rem;
    left: -1rem;
    border-radius: 2rem;
    height: 3rem;
    width: 3rem;
    padding: .25rem;
    position: absolute;
    background: rgba(235, 235, 235, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.2); }
    .controls-open header .controls-toggle {
      background: white; }
    header .controls-toggle:hover:after {
      color: black; }
  header p {
    margin: 0 2rem; }
  header input {
    margin: 0 2rem 0 0; }
  header button {
    margin: 0 .5rem; }

.pconfig-item {
  opacity: 0;
  transition: max-height 300ms linear, opacity 300ms linear;
  overflow: hidden; }

.config-off .pconfig-item {
  pointer-events: none;
  max-height: 0; }

.config-on .pconfig-item {
  opacity: 1;
  max-height: 6rem; }

#players {
  display: flex;
  margin: 0 auto;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 100vh;
  overflow-y: hidden; }

.player {
  padding-top: .4rem;
  position: relative;
  height: 100vh;
  min-width: 26rem;
  width: calc(100vw * (1/5)); }
  @media (min-width: 1300px) {
    .player {
      min-width: 30rem; } }
  .pcount-1 .player {
    width: 100vw; }
  .pcount-2 .player {
    width: 50vw; }
  .pcount-3 .player {
    width: calc(100vw * (1/3)); }
  .pcount-4 .player {
    width: calc(100vw * (1/4)); }
  .player + .player {
    border-left: solid 1px rgba(155, 155, 155, 0.7); }
  .player h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: .4rem; }
    @media (min-width: 1300px) {
      .player h1 {
        font-size: 6rem; } }
  .player .player_info {
    margin: 0 auto;
    width: 100%;
    max-width: 54rem;
    position: relative;
    display: grid;
    height: calc(100vh);
    grid-template-rows: auto auto auto 1fr; }
  .player .player_name {
    pointer-events: none;
    background: rgba(255, 255, 255, 0.1);
    font-weight: bold;
    padding: .1rem 0 .2rem; }
    .config-on .player .player_name {
      cursor: pointer;
      pointer-events: all;
      background: white;
      color: black; }
    @media (min-width: 1300px) {
      .player .player_name {
        font-size: 3rem; } }
  .player .player_body {
    width: 100%;
    justify-content: center;
    display: flex;
    overflow-y: auto;
    margin: 0 auto;
    padding: 1rem 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .player .player_body-aux {
    width: calc(50% - 2rem);
    max-width: 25rem;
    margin-right: 1rem; }
    .player .player_body-aux:before {
      content: "poison";
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      text-transform: uppercase;
      font-size: 70%;
      background: rgba(255, 255, 255, 0.1);
      padding: .3rem;
      display: block;
      top: -3rem;
      margin-bottom: 1rem; }
  .player .remove_player {
    position: absolute;
    top: 6rem;
    right: 1rem;
    background-color: white; }
  .player .bg-selector {
    position: absolute;
    top: 6rem;
    left: 1rem;
    color: black; }
  .player .background-pane {
    position: relative;
    padding-top: .5rem;
    border: solid 1px rgba(255, 255, 255, 0.4); }
  .player .log_bg {
    padding: 1rem 0;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  .player .player_log {
    width: calc(50% - 2rem);
    max-width: 25rem;
    margin-left: 1rem; }
    .player .player_log p {
      font-size: 1.3rem;
      margin-bottom: .3rem; }
    .player .player_log:before {
      content: "history";
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      text-transform: uppercase;
      font-size: 70%;
      background: rgba(255, 255, 255, 0.1);
      padding: .3rem;
      display: block;
      top: -3rem; }
  .player button {
    font-size: 1.6rem;
    line-height: 1;
    background: rgba(210, 210, 210, 0.5);
    padding: 0;
    min-width: 3rem;
    min-height: 2rem;
    margin-bottom: 0; }
    @media (min-width: 1300px) {
      .player button {
        padding: .1rem 1.4rem .25rem; } }
  .player .life_buttons {
    display: flex;
    width: 100%;
    max-width: 54rem;
    margin: 0 auto;
    padding: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
    .player .life_buttons button {
      font-size: 2rem;
      width: 23%;
      max-width: 7rem;
      font-weight: bold;
      border: solid 2px rgba(216, 216, 216, 0.6); }
      .player .life_buttons button:nth-of-type(1), .player .life_buttons button:nth-of-type(2) {
        border: solid 1px rgba(0, 0, 0, 0.1); }
  .player input {
    width: 100%;
    z-index: 100;
    text-align: center;
    font-size: 3rem;
    letter-spacing: .1rem;
    padding: .3rem;
    margin: 0 0 .2rem;
    justify-content: space-between;
    border: solid 1px transparent; }
    .player input:focus {
      border: dotted 1px grey; }

.poison_buttons {
  display: flex;
  justify-content: space-between; }

.poison_count {
  display: inline-block;
  min-width: 3em;
  padding: 0 .5em; }
  .poison_count .poison {
    position: relative;
    left: .35em;
    top: .3em; }

.edh_damage {
  transition: max-height 200ms ease-out;
  max-height: 0;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 2rem; }
  .edh_damage:before {
    content: "commanders";
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    font-size: 70%;
    background: rgba(255, 255, 255, 0.1);
    padding: .3rem;
    display: block;
    top: -3rem; }

.edh-on .edh_damage {
  max-height: calc(100vh - 10rem); }

.edh_player {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden; }
  .edh_player .edh_player-dmg {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .edh_player .edh_player-dmg button {
      padding: .5rem;
      letter-spacing: 0;
      line-height: 1;
      height: auto;
      font-size: 1.25rem;
      margin-bottom: 0; }
  .edh_player .edh_player-dmg-count {
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.55rem;
    font-weight: bold; }

.neutral {
  background: linear-gradient(to bottom, #d0d0d0 0%, #f3f3f3 20%); }

.black {
  color: #eee; }
  .black input {
    background: #444;
    z-index: 100; }
  .black .poison {
    background-color: greenyellow; }
  .player.black .player_name,
  .black .player_body-aux:before,
  .black .player_log:before,
  .black .edh_damage:before {
    background: rgba(0, 0, 0, 0.1); }
  .config-on .player.black .player_name {
    color: white; }

.black .mana.large, .blue .mana.large, .green .mana.large, .red .mana.large, .white .mana.large, .colorless .mana.large {
  display: block;
  background-position: 66.6% 33.3%;
  opacity: .14;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%); }

.black {
  background: linear-gradient(to bottom, black 0%, #333339 70%); }
  .black .mana.large {
    background-position: 66.6% 33.3%; }

.blue {
  background: linear-gradient(to bottom, #89beff 0%, #005fa8 100%); }
  .blue .mana.large {
    background-position: 55.5% 33.3%;
    mix-blend-mode: overlay; }

.green {
  background: linear-gradient(to bottom, #c9de96 0%, #8ab66b 44%, #398235 100%); }
  .green .mana.large {
    background-position: 88.8% 33.3%;
    mix-blend-mode: overlay; }

.red {
  background: linear-gradient(to bottom, #ffaaaa 0%, red 100%); }
  .red .mana.large {
    background-position: 77.7% 33.3%;
    mix-blend-mode: overlay; }

.white {
  background: white; }
  .white .mana.large {
    background-position: 44.4% 33.3%;
    mix-blend-mode: darken;
    opacity: .05; }

.colorless {
  background: linear-gradient(to bottom, #eeeeee 0%, #bbbbbb 100%); }
  .colorless .mana.large {
    background-position: 11.1% 33.3%;
    mix-blend-mode: overlay;
    opacity: 1; }
